@import './vars.scss';
@import './Button.scss';
@import './DataTable.scss';
@import './MainMenu.scss';
@import './LeftMenu.scss';
@import './Text.scss';
@import './Block.scss';
@import './Orders.scss';
@import './Help.scss';


/***************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 50rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  font-size: 1.2rem;
}
