@mixin dy58-order-pattern-element-block($border-color, $border-width) {
  border-width: $border-width;
  border-style: solid;
  border-color: $border-color;
}

.dy58-not-edited-order-pattern-element-block {
  @include dy58-order-pattern-element-block(var(--surface-400), 2px);
}

.dy58-edited-order-pattern-element-block {
  @include dy58-order-pattern-element-block(var(--primary-color), 4px);
}

.dy58-search-params-panel {
  padding: 5px 10px;
}

.dy58-outer-cursor-block {
  margin: 0 10px 10px 0;
}

.dy58-order-pattern-border {
  border-width: 1px;
  border-style: solid;
  background-color: var(--surface-b);
  border-color: var(--surface-400);
  font-weight: 600;
}

.dy58-edit-order-pattern-element-block, .dy58-view-order-pattern-element-refs-meanings-block {
  background-color: #feffe6;
}

.dy58-view-order-pattern-element-refs-meanings-list-item-block {
  background-color: var(--surface-b);
}

.dy58-footer {
  background-color: #424b5f;
  color: #fff;
  padding: 10px 0;
}

.dy58-work-orders-tabview {
  background-color: var(--surface-b);
  border: 1px solid #dee2e6;
}

.dy58-work-orders-tabview > .p-tabview-panels {
  padding: 0 !important;
}

.dy58-dy-train-table-block {
  border: 1px solid var(--surface-400);
  padding: 5px !important;
}

.dy58-user-action-forbidden-block {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dy58-additional-info-scroll-block {
  max-height: 600px;
  overflow-y: scroll;
}

.dy58-journal-container {
  background-color: #424b5f;
  padding: 5px 5px 0 5px;
  color: #fff;
}

.dy58-auto-width-input-buffer {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
  white-space: nowrap;
  padding: 0;
}

.dy58-auto-width-dropdown, .dy58-auto-width-input, .dy58-auto-width-input-buffer {
  letter-spacing: 0.01em;
}

.dy58-order-text-block {
  white-space: pre;
}
