@mixin dy58-order-pattern-element-block($border-color, $border-width) {
  border-width: $border-width;
  border-style: solid;
  border-color: $border-color;
}

.dy58-not-edited-order-pattern-element-block {
  @include dy58-order-pattern-element-block(var(--surface-400), 2px);
}

.dy58-edited-order-pattern-element-block {
  @include dy58-order-pattern-element-block(var(--primary-color), 4px);
}

.dy58-date-user-block {
  background-color: var(--surface-300);
}

.dy58-outer-cursor-block {
  width: auto !important;
  margin: 0 10px 10px 0;
  display: flex;
}

.dy58-order-pattern-border {
  border-width: 1px;
  border-style: solid;
  border-color: var(--surface-400);
}

.dy58-edit-order-pattern-element-block {
  background-color: var(--surface-c);
}
