@mixin dy58-order-pattern-element-block($border-color, $border-width) {
  border-width: $border-width;
  border-style: solid;
  border-color: $border-color;
}

.dy58-not-edited-order-pattern-element-block {
  @include dy58-order-pattern-element-block(var(--surface-400), 2px);
}

.dy58-edited-order-pattern-element-block {
  @include dy58-order-pattern-element-block(var(--primary-color), 4px);
}

.dy58-date-user-block {
  background-color: var(--surface-300);
  margin-bottom: 0.5rem;
}

.dy58-left-menu-panel {
  background-color: #424b5f;
  max-width: 350px;
}

.dy58-search-params-panel {
  padding: 5px 10px;
}

.dy58-outer-cursor-block {
  width: auto !important;
  margin: 0 10px 10px 0;
  display: flex;
}

.dy58-order-pattern-border {
  border-width: 1px;
  border-style: solid;
  border-color: var(--surface-400);
}

.dy58-edit-order-pattern-element-block {
  background-color: var(--surface-c);
}

.dy58-footer {
  background-color: #303B44;
  color: #fff;
  padding: 10px 0;
}

.dy58-work-orders-tabview {
  background-color: var(--surface-b) !important;
  border: 1px solid #dee2e6;
}

.dy58-work-orders-tabview > .p-tabview-panels {
  padding: 0 !important;
}

.dy58-dy-train-table-block {
  border: 1px solid var(--surface-400);
  padding: 5px !important;
}

.dy58-user-cannot-create-order-block {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
