.dy58-addon-button {
  background-color: var(--surface-b) !important;
  border-color: var(--surface-b) !important;
  color: var(--text-color) !important;
}

.dy58-order-action-button {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
