// ----------------------------
// Стили, общие для всех таблиц

.dy58-table-title {
  color: var(--text-color);
  font-family: var(--font-family) !important;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.dy58-table-comment {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.dy58-table-upper-comment {
  color: var(--text-color) !important;
  font-size: 0.9rem !important;
  text-align: right;
}

.dy58-table-header-cell-class {
  text-align: left !important;
  vertical-align: middle !important;
  background: var(--bluegray-200) !important;
  color: var(--text-color) !important;
  font-size: 0.9rem !important;
  padding: 5px !important;
  overflow: hidden;
}

.dy58-table-content-cell-class {
  overflow: auto;
  vertical-align: top !important;
  padding: 0.5rem !important;
  color: var(--text-color) !important;
  font-size: 0.9rem !important;
}

// ---------------------------------------------------------------------
// Стили для таблиц со входящими уведомлениями и распоряжениями в работе

.dy58-order-state-img-style {
  width: 10px !important;
  height: 15px !important;
}

// ------------------------------------------------------------------------
// Стили для таблиц с персоналом, которому необходимо передать распоряжение

.dy58-send-table-data-cell {
  padding: 2px !important;
}

.dy58-send-original {
  background-color: var(--teal-100);
}

.dy58-send-copy {
  background-color: var(--orange-100);
}

.dy58-do-not-send {
  background-color: #fff;
}

.dy58-def-btn-color {
  background-color: var(--surface-100);
}

.dy58-tbl-send-btns-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dy58-send-status-btn {
  min-width: 50px;
  text-align: center;
  padding: 0 5px 0 5px;
  margin: 0 2px 0 2px;
  border-radius: 3px;
  border: 1px solid #dee2e6;
}

.dy58-send-status-btn:hover {
  cursor: pointer;
}

.dy58-shift-tbl-group-header {
  text-align: center;
  color: var(--bluegray-800) !important;
  font-size: 0.9rem !important;
  font-weight: bold;
  padding: 0 !important;
}

.dy58-send-btns-selectors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5px;
}
/*
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0 !important;
  margin: 0 !important;
}
*/
