.dy58-help-contents-item {
  margin: 0.75rem 0;
}

@mixin help-text-style() {
  line-height: 1.5;
}

@mixin help-paragraph-style() {
  text-indent: 25px;
}

.dy58-help-text {
  @include help-text-style();
}

.dy58-help-paragraph {
  @include help-text-style();
  @include help-paragraph-style();
}

.dy58-help-list {
  @include help-text-style();
  @include help-paragraph-style();
  counter-reset: li;
  list-style: none;
}

.dy58-help-list span:before {
  content: counter(li)".";
  counter-increment: li;
}

.dy58-help-img-style {
  width: 2rem;
  height: auto;
  display: inline-block;
  background-color: #424b5f;
  padding: 0.25rem;
}

.dy58-help-img-style-nobgcolor {
  width: 1rem;
  height: auto;
  display: inline-block;
}

.dy58-to-help-start-block {
  margin-top: 0.5rem;
  text-align: right;
}

.dy58-help-definition {
  margin: 1rem 2rem;
  padding: 0.5rem;
  background-color: rgb(255, 254, 183);
}
