h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

.dy58-title-small {
  font-size: 1.2rem;
  font-weight: 700;
}

.dy58-title-medium {
  font-size: 1.5rem;
  font-weight: 700;
}

.dy58-title-huge {
  font-size: 3rem;
  font-weight: 700;
}

.dy58-warning {
  color: var(--orange-500);
}

.dy58-attention {
  color: var(--pink-500);
}

.dy58-info {
  color: var(--blue-500);
}

.dy58-online-notonduty-color {
  color: var(--green-400);
}

.dy58-online-onduty-color {
  color: var(--blue-500);
}

.dy58-online-notonduty-fill {
  background-color: var(--green-400);
}

.dy58-online-onduty-fill {
  background-color: var(--blue-500);
}

@mixin generalErrorStyles() {
  color: red;
}

.dy58-error-message {
  @include generalErrorStyles();
  font-weight: 400;
}

.dy58-bold-error-message {
  @include generalErrorStyles();
  font-weight: 500;
  font-size: 1rem;
}

.dy58-order-copy {
  color: var(--orange-500);
  font-weight: 400;
}

.dy58-required-field {
  color: red;
}
