.dy58-title-small {
  font-size: 1.2rem;
  font-weight: 700;
}

.dy58-title-huge {
  font-size: 2rem;
  font-weight: 700;
}

.dy58-text-big {
  font-size: 1.2rem;
}

.dy58-text-small {
  font-size: 0.8rem;
}

.dy58-warning {
  color: var(--orange-500);
}

.dy58-attention {
  color: var(--pink-500);
}

.dy58-info {
  color: var(--blue-500);
}
