:root {
  /* Постоянный адрес текущей цветовой схемы: https://colorscheme.ru/#5t40B9PsYqwJm */

  /*https://colorscheme.ru/#0041Tw0w0w0w0*/

  /***************************************/

  // Главное меню программы (header)

  --dy58-nav-bar-bg-color: #546e7a; /*#a60000;*/ /* #D493A2;*/
  --dy58-nav-bar-text-color: white;
  --dy58-nav-bar-font-weight: normal;
  --dy58-nav-bar-logo-font-size: 2rem;
  --dy58-nav-bar-menu-font-size: 1.1rem;

  /***************************************/

  // Общее для всех страниц программы

  --dy58-wrapper-bg: radial-gradient(
      ellipse at top left,
      rgba(255, 255, 255, 1) 40%,
      rgba(229, 229, 229, .9) 100%
    );

  /***************************************/

  // Главная страница программы

    // Левая панель главной страницы

    --dy58-main-page-left-panel-bg-color: /* #E0F0D7;*/ #FFEEEE;

      // Меню левой панели

      --dy58-main-page-left-panel-side-menu-text-color: black;
      --dy58-main-page-left-panel-side-menu-important-text-color: red; // #b71c1c;
      --dy58-main-page-left-panel-side-menu-font-size: 1rem;

  /***************************************/

  // Footer

  --dy58-footer-bar-bg-color: /* #D493A2;*/ #546e7a;
  --dy58-footer-bar-text-color: white;

  /***************************************/

  // Кнопки

  --dy58-btn-bg-color: #f57f17; /*#006363;*/ /*#6B9A8A;*/
  --dy58-btn-text-color: white;
  --dy58-non-active-btn-text-color: black;

  /***************************************/

  // Tabs

  --dy58-tabs-panel-bg-color: #F8F7C8;

  /***************************************/

  // Таблицы данных

  --dy58-confirmed-order-bg-color: /* lightblue;*/ #d6e8f5;
  --dy58-read-order-bg-color: /* #F5C7D2;*/ #f6fabe;
  --dy58-not-read-order-bg-color: /* #BCE7D9;*/ #f1deb8;


  --dy58-expand-row-bg-color: #FFFFF0;
  /***************************************/
}
